{% extends "base.html" %}
{% block content %}

    <form action="/bacc" method="post">
        <div class="form-group">
            <label for="wiki">Wiki (like enwiki, wikidatawiki)</label>
            <input type="string" id="wiki" name="wiki" class="form-control">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="string" id="username" name="username" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Get results</button>
    </form>
{% endblock %}
