{% extends "base.html" %}
{% block content %}
<style>
    pre {
        padding: 1em;
        white-space: pre-wrap;
        overflow-x: hidden;
        word-wrap: break-word;
        background-color: #f8f9fa;
        color: #000;
        border: 1px solid #eaecf0;
        margin-top: 5px;
    }
</style>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% else %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">score</th>
    </tr>
    </thead>
    <tbody>
    {% for row in result %}
    <tr>
        <th scope="row">{{row[0]}}</th>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
