{% extends "base.html" %}
{% block content %}
    <form action="/checkuser" method="post">
        <div class="form-group">
            <label for="wiki">Wiki</label>
            <select id="wiki" name="wiki" class="form-select form-control">
                {% for wiki in allowed_wikis %}
                <option value="{{wiki}}">{{wiki}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="string" id="username" name="username" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Get results</button>
    </form>
{% endblock %}
